@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 528.86328125px;
    stroke-dasharray: 528.86328125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 528.86328125px;
  }
}

@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: inherit;
  }
}

.svg-elem-1 {
  animation:
    animate-svg-stroke-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
    animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 300.62823486328125px;
    stroke-dasharray: 300.62823486328125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 300.62823486328125px;
  }
}

@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: inherit;
  }
}

.svg-elem-2 {
  animation:
    animate-svg-stroke-2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both,
    animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both;
}

@keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 369.33251953125px;
    stroke-dasharray: 369.33251953125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 369.33251953125px;
  }
}

@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: inherit;
  }
}

.svg-elem-3 {
  animation:
    animate-svg-stroke-3 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s both,
    animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
}

@keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 210.9694061279297px;
    stroke-dasharray: 210.9694061279297px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 210.9694061279297px;
  }
}

@keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: inherit;
  }
}

.svg-elem-4 {
  animation:
    animate-svg-stroke-4 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s both,
    animate-svg-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s both;
}

@keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 320.7532043457031px;
    stroke-dasharray: 320.7532043457031px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 320.7532043457031px;
  }
}

@keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: inherit;
  }
}

.svg-elem-5 {
  animation:
    animate-svg-stroke-5 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s both,
    animate-svg-fill-5 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s both;
}

@keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 391.2025146484375px;
    stroke-dasharray: 391.2025146484375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 391.2025146484375px;
  }
}

@keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: inherit;
  }
}

.svg-elem-6 {
  animation:
    animate-svg-stroke-6 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both,
    animate-svg-fill-6 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s both;
}

@keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 320.7530822753906px;
    stroke-dasharray: 320.7530822753906px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 320.7530822753906px;
  }
}

@keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: inherit;
  }
}

.svg-elem-7 {
  animation:
    animate-svg-stroke-7 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s both,
    animate-svg-fill-7 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s both;
}

@keyframes animate-svg-stroke-8 {
  0% {
    stroke-dashoffset: 565.7886962890625px;
    stroke-dasharray: 565.7886962890625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 565.7886962890625px;
  }
}

@keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }

  100% {
    fill: inherit;
  }
}

.svg-elem-8 {
  animation:
    animate-svg-stroke-8 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s both,
    animate-svg-fill-8 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s both;
}

@keyframes animate-svg-stroke-9 {
  0% {
    stroke-dashoffset: 320.7531433105469px;
    stroke-dasharray: 320.7531433105469px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 320.7531433105469px;
  }
}

@keyframes animate-svg-fill-9 {
  0% {
    fill: transparent;
  }

  100% {
    fill: inherit;
  }
}

.svg-elem-9 {
  animation:
    animate-svg-stroke-9 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s both,
    animate-svg-fill-9 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s both;
}

@keyframes animate-svg-stroke-10 {
  0% {
    stroke-dashoffset: 417.42279052734375px;
    stroke-dasharray: 417.42279052734375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 417.42279052734375px;
  }
}

@keyframes animate-svg-fill-10 {
  0% {
    fill: transparent;
  }

  100% {
    fill: inherit;
  }
}

.svg-elem-10 {
  animation:
    animate-svg-stroke-10 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s both,
    animate-svg-fill-10 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s both;
}

@keyframes animate-svg-stroke-11 {
  0% {
    stroke-dashoffset: 320.7530517578125px;
    stroke-dasharray: 320.7530517578125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 320.7530517578125px;
  }
}

@keyframes animate-svg-fill-11 {
  0% {
    fill: transparent;
  }

  100% {
    fill: inherit;
  }
}

.svg-elem-11 {
  animation:
    animate-svg-stroke-11 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s both,
    animate-svg-fill-11 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s both;
}
