@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-sm: 38rem;
  --breakpoint-md: 56rem;
}

@theme inline {
  --font-sans: var(--font-noto-sans-jp);
  --font-mono: var(--font-roboto-mono);
}

.scroll-hint-text {
  display: none;
}

.scroll-hint-icon {
  background: repeating-radial-gradient(#64748b, transparent 100px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@layer base {
  html {
    @apply scroll-pt-16 scroll-smooth;
  }
  body {
    @apply flex min-h-screen flex-col bg-white text-slate-500 antialiased dark:bg-slate-900 dark:text-slate-400;
  }
  svg {
    stroke-width: 2;
    stroke-linecap: round;
  }
  *:focus {
    @apply outline-blue-500 focus-visible:outline-2;
  }
}

@layer components {
  .border-primary {
    @apply border-slate-900/10 dark:border-slate-300/10;
  }
  .text-primary {
    @apply text-slate-900 dark:text-slate-200;
  }
  .text-secondary {
    @apply text-slate-600 dark:text-slate-400;
  }
  .bg-primary {
    @apply bg-slate-100 dark:bg-slate-800;
  }
  .hover-primary {
    @apply hover:brightness-95 dark:hover:brightness-125;
  }
  .link-primary {
    @apply text-slate-700 dark:text-slate-300;
  }
  .btn-icon {
    @apply text-slate-500 hover:cursor-pointer hover:text-slate-600 dark:text-slate-400 dark:hover:text-slate-300;
  }
  .btn-list {
    @apply size-full text-blue-500 hover:cursor-pointer;
  }
  .section-footnotes h2 {
    @apply mt-0;
  }
}
