{
  "jsonRecursiveSort": true,
  "jsxSingleQuote": true,
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-sort-json"],
  "printWidth": 150,
  "quoteProps": "preserve",
  "singleQuote": true,
  "trailingComma": "none"
}
