name: CI

on:
  workflow_dispatch:
    inputs:
      debug:
        description: Enable Debug Mode
        type: boolean
        required: false
        default: false
  repository_dispatch:
    types: [trigger-kentayamadadev]

jobs:
  Update-README:
    timeout-minutes: 5
    runs-on: ubuntu-latest

    steps:
      - name: Set current datetime as env variable
        env:
          TZ: Asia/Tokyo
        run: echo "CURRENT_DATETIME=$(date +'%Y-%m-%d_%H-%M-%S')" >> $GITHUB_ENV

      - name: Checkout code
        uses: actions/checkout@v4.1.4

      - name: Update README
        uses: addnab/docker-run-action@v3
        with:
          image: debian:bookworm-slim
          options: -v ${{ github.workspace }}:/app
          run: |
            . ./app/.devcontainer/.misc/scripts/install_github_profile_packages.sh
            cd ./app/github-profile
            python3 -m venv ./.venv && . ./.venv/bin/activate
            make install && CURRENT_DATETIME=${{ env.CURRENT_DATETIME }} DEBUG=${{ github.event.inputs.debug }} IMGUR_CLIENT_ID=${{ secrets.DELETE_WORKFLOW_TOKEN }} make run

      - name: Commit README.md
        uses: EndBug/add-and-commit@v9.1.4
        with:
          add: ./README.md
          pull: origin main

      - name: Install packages
        run: npm install
        working-directory: ./.github/workflows/actions

      - name: Delete previous workflow
        uses: actions/github-script@v7.0.1
        with:
          script: |
            const { deletePreviousWorkflow } = await import('${{ github.workspace }}/.github/workflows/actions/delete_ previous_workflow.js')
            await deletePreviousWorkflow('${{ secrets.DELETE_WORKFLOW_TOKEN }}')
